.contato{
    background-color: var(--branco);
    padding: 1em;
}

.contato__titulo, 
.contato__texto{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo{
    font-size: 18px;
    font-weight: 500;
}

.contato__texto{
    font-weight: 300;
    margin: 1em 0;
}

.contato__email{
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
}

.contato__email::placeholder{
    font-family: var(--font-principal);
    color: var(--azul);
    background: url("../img/Email.svg") no-repeat;
    padding-left: 2em;
}

.error {
    border: 2px solid red;
}
.error-placeholder {
    color: red;
    
}

input[type="submit"] {
    background-color: var(--laranja); 
    color: white; 
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 24px;
    size: 20px;
}
input[type="submit"]:hover {
    background-color: var(--laranja); 
}

.botao__enviar{
    background-color: var(--laranja); 
    color: white; 
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 24px;
    size: 20px;
    margin-left: 30%;
    padding-left: 50px !important;
    padding-right: 50px !important;
   
    
}

.botao__enviar:hover{
    background-color: var(--laranja); 
}